#contenido {
    width: 960px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    align-items: center;
   
}

#presentacion {
    width: 350px;
    height: 300px;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 50px;
    box-sizing: border-box;
    font-family: Pacifico, cursive;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}

#imagen_femenino {
    width: 500px;
    height: 300px;
    float:left;
    margin-top: 10px;
    background-image: url(../recursos/peluqmujer.jpg);
    background-size: cover;
    border-radius: 10%; 
}

#imagen_masculino {
    width: 500px;
    height: 300px;
    float:left;
    margin-top: 10px;
    background-image: url(../recursos/pelmasculina.jpg);
    background-size: cover;
    border-radius: 10%; 
}

#imagen_manicura {
    width: 500px;
    height: 300px;
    float:left;
    margin-top: 10px;
    background-image: url(../recursos/uñas.jpg);
    background-size: cover;
    border-radius: 10%; 
}

#espacio {
    padding: 3em;
}

@media all and (min-width:600px) and (max-width:1023px){

   
    #contenido {
        width: 580px;
        height: 400px;
    }

    #imagen_femenino {
        width: 200px;
        background-size: cover; 
        background-position: center;
    }

    #imagen_masculino {
        width: 200px;
        background-size: cover; 
        background-position: center;
    }

    #imagen_manicura {
        width: 200px;
        background-size: cover; 
        background-position: center;
    }
    
    #presentacion {
        width: 370px;
        height: 300px;
    }
}

@media all and (max-width: 599px) {

    #contenido {
        width: 90%;
        height: auto;
    }

    #imagen_femenino {
        width: 100%;
        height: 380px; 
        float: none;
        background-size: cover;
    }
    
    #imagen_masculino {
        width: 100%;
        height: 380px; 
        float: none;
        background-size: cover;
    }

    #imagen_manicura {
        width: 100%;
        height: 380px; 
        float: none;
        background-size: cover;
    }

    #presentacion {
        width: 100%;
        height: auto; 
        float: none;
    }   
}