.contenedorServicios{
    margin-top: 220px;
    width: 100%;
   
}

#contenido {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
}
.contenido_servicios{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#presentacion {
   
    height: 300px;
 
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 50px;
 
    font-family: Pacifico, cursive;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}

#imagen_femenino {
    width: 500px;
    height: 300px;
 
    margin-top: 10px;
    background-image: url(../recursos/peluqmujer.jpg);
    background-size: cover;
    border-radius: 10%; 
}

#imagen_masculino {
    width: 500px;
    height: 300px;
 
    margin-top: 10px;
    background-image: url(../recursos/pelmasculina.jpg);
    background-size: cover;
    border-radius: 10%; 
}

#imagen_manicura {
    width: 500px;
    height: 300px;
 
    margin-top: 10px;
    background-image: url(../recursos/uñas.jpg);
    background-size: cover;
    border-radius: 10%; 
}

@media only screen and (max-width: 700px) {
   .contenido_servicios{
    flex-direction: column;
   }
   #imagen_femenino, #imagen_masculino,#imagen_manicura {
    width: 80%;
   }


}
